.calculator{
            margin: 0px 140px 40px 600px;
            padding: 100px 0px 100px 70px;
            border: 15px solid blanchedalmond;
            width: 500px;
            background: #F4A460;
           
            
        }
        .c{
             font-size: 20px;
             width: 180px;
            padding: 8px 30px;
            cursor: pointer;
        }
        .btn{
            font-size: 22px;
            padding: 8px 30px;
            cursor: pointer;
            color: black;
            background-color: #ADFF2F;
        }
        .btn:hover{
            background-color: #7B68EE;
        }
.center{
font-size: 60px;
font-family: Cambria Math;

}
.text{
	width: 260px;
	height: 30px;
}
.clear{
	width: 45px;
	height: 35px;
}

.row1{
	width: 80px;
	height: 40px;
}
.row11{
	width: 45px;
	height: 40px;
}
